includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 9
  phpVersion: 80000
  paths:
    - just-another-generic-chatbot.php
    - uninstall.php
  scanDirectories:
    - includes